crewai==0.141.0
langchain==0.3.26
langchain_text_splitters==0.3.8
markitdown==0.1.2
pydantic==2.11.7
python-dotenv==1.1.1
qdrant_client==1.14.3
Requests==2.32.4
SQLAlchemy==2.0.34
streamlit==1.46.1
langchain-community